footer {
   // position: absolute;
   // bottom: 0;
   height: 5vh;
   width: 100%;
   text-align: center;
   background-color: $secondaryBackground;
   display: flex;
   flex-direction: column;
   justify-content: center;
   margin: 0 auto;
   padding: 5px 0;

   p {
      font-size: .75rem;
   }
}