footer {
   background-color: $secondaryBackground;
   text-align: center;
   display: flex;
   flex-direction: column;
   justify-content: center;
   height: 5vh;
   margin: 0 auto;
   padding: 5px 0;

   p {
      font-size: .75rem;
   }
}