footer {
   background-color: $secondaryBackground;
   text-align: center;
   display: flex;
   flex-direction: column;
   justify-content: center;
   height: 5vh;
   margin: 0 auto;
   padding: 5px 0;

   p {
      font-size: .75rem;
   }

   a {
      font-family: $headerFont;
      font-size: .85rem;
      color: $accentPink;
      text-decoration: none;
      display: inline-block;
      line-height: 1.2rem;
      border-radius: 10px;
      transition: background-color .3s, padding .3s;
      
      &:hover, 
      &:focus {
         padding: 0 7px;
         background-color: $accentBlue;
         transition: background-color .3s, padding .3s;
      }
   }
}