body {
   background-color: $primaryBackground;
}

main {
   height: 100vh;
   padding-top: 40px;
}

h1 {
   @include fontTypography(4rem, $headerFont, $accentPink);
   background-color: $accentBlue;
   border: 2px solid $accentPink;
   border-radius: 20px;
   text-shadow: 2px 2px $accentDarkPurp;
   text-align: center;
   width: 100%;
   text-transform: uppercase;
   padding: 20px;
   box-shadow: 5px 5px;
}

p {
   @include fontTypography(1.5rem, $bodyFont, $bodyColour);
}

form {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;

   input {
      @include fontTypography(2.5rem, $bodyFont, $bodyColour);
      width: calc(50% - 40px);
      min-width: 300px;
      margin: 40px 0px;
      padding: 30px 15px;
      border: 3px solid white;
      border-radius: 20px;
      box-shadow: 3px 3px $accentPink;
      text-align: center;

      &:focus {
         border: 3px solid $accentPink;
      }
   }

   button {
      @include button();
      margin: 0 auto;
      padding: 15px 30px;
      box-shadow: 3px 3px $accentPink;
      transition: all .2s;
      width: 100%;
      max-width: 300px;

      &:hover,
      &:focus {
         background-color: $accentDarkPurp;
         color: $accentBlue;
         border: 2px solid $accentDarkPurp;
         transition: all .2s;
      }
   }
}