.results {
   //look into display: none and positioning 
   background-color: $primaryBackground;
   display: hidden;
   flex-direction: column;
   justify-content: center;
   padding: 40px;
   min-height: 100vh;
   // hidden positioning of div so it doesn't interfere with landing page
   // visible positioning class is below @ .resultsSlide
   position: absolute;
   bottom: 0;
   left: -120%;
   right: 120%;
   transition: left .5s, right .5s;
   transition-timing-function: cubic-bezier(.65,-0.33,.44,1.46);

   //box within the results div that displays the users new drag name and house
   .displayBox{
      background-color: $secondaryBackground;
      border: 2px solid $accentPink;
      border-radius: 20px;
      box-shadow: 4px 4px $accentPink;
      text-align: center;
      padding: 25px;

      p {
         @include fontTypography(2rem, $headerFont, $accentDarkPurp);
         text-shadow: 2px 2px $bodyFont;
      }

      h2,
      .dragHouse {
         @include fontTypography(4rem, $headerFont, $accentPink);
         display: block;
         text-transform: uppercase;
         text-shadow: 1px 1px $accentDarkPurp;
         margin: 20px 0;
      }

      .elon,
      .warning,
      .dragHouse {
         font-size: 2.5rem;
         margin: 0;
      }

      .warning {
         color: $warning;
         text-shadow: 1px 1px $accentDarkPurp;
         text-decoration: underline;
      }

      .dragHouse {
         display: inline-block;
         color: $accentBlue;
         background-color: $accentDarkPurp;
         border-radius: 20px;
         width: 100%;
         margin: 5px auto;
         padding: 0 25px;
      }
   }
   
   // form for the new name and go back buttons
   .resultsForm {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      width: 100%;
      margin-top: 40px;

      button {
         margin: 20px 10px;
      }
   }
}

// styles that slide in the results 
.resultsSlide {
   display: flex;
   left: 0;
   right: 0;
   bottom: unset;
   top: 0;
   transition: left .5s, right .5s; 
   transition-timing-function: cubic-bezier(.65,-0.33,.44,1.46);
}